#!/bin/bash

set -e

export AWS_ACCESS_KEY_ID={{ github_runner_admin_aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ github_runner_admin_aws_secret_access_key }}
export AWS_DEFAULT_REGION={{ github_runner_admin_aws_default_region }}
