
minutes_buffer={{ github_runner_admin_minutes_buffer }}
queue_buffer={{ github_runner_admin_queue_buffer }}
gh_organization="{{ github_runner_admin_gh_organization }}"
api_organization="{{ github_runner_admin_api_organization }}"
api_display_organization="{{ github_runner_admin_api_display_organization }}"
webroot="{{ github_runner_admin_webroot }}"
webuser="{{ github_runner_admin_webuser }}"
webgroup="{{ github_runner_admin_webgroup }}"
gh_token="{{ github_runner_admin_gh_token }}"
api_token="{{ github_runner_admin_api_token }}"
